 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a onclick="return false;" class="navbar-brand" routerLink="/home">Assesment</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a onclick="return false;" class="nav-link" routerLink="/home">Home</a>
            </li>

            <li class="nav-item">
                <!-- <a onclick="return false;" class="nav-link" routerLink="/programming">Programming</a> -->
            </li>
            <li class="nav-item">
                <a onclick="return false;" class="nav-link" routerLink="/tree">Tree</a>
            </li>

        </ul>

    </div>
</nav>

